.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  color: #0070f3;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
